.BackBody{
    background-image: url("Back.png");
    background-position: center;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: chartreuse;
}

#Logo{
    height: 10 0px;
    width: 100px;
    border: 3px chartreuse dashed;
    border-radius: 50px;
    margin-bottom: 10px;
}

#Send{
    margin-bottom: 30px;
}

input{
    color: rgb(29, 58, 0);
}
